

.filter__page {
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--c1-c);
    margin-top: 16px;
    margin-bottom: 16px;
}

.filter__page_s {
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--c1-a);
}

.filter__title_block {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.filter__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    color: var(--c1-a);
}

.filter__list {
    display: flex;
    align-items: center;
    gap: 44px;
    position: relative;
}

.filter__item1 {
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--c1-a);

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/filter_img1.svg);
        display: inline-block;
        position: absolute;
        left: -20px;
        top: 10px;
    }
}

.filter__item2 {
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--c1-c);

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/filter_img2.svg);
        display: inline-block;
        position: absolute;
        left: 80px;
        top: 10px;
    }
}

.filter__item3 {
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--c1-c);
    margin-left: 4px;

    &::before {
        content: "";
        width: 33px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url(/img/filter_img3.svg);
        display: inline-block;
        position: absolute;
        right: 55px;
        top: 10px;
    }
}

.filter__form {
    margin-top: 34px;
}

.filter__label1 {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 9px 16px;
    width: 236px;
    height: 42px;
    background: var(--c1-h);
    margin-right: 16px;
}

.filter__input {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
    margin-right: 8px;
    transform: scale(1.5);
    cursor: pointer;
    accent-color: #000;
}

.filter__input2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
    margin-right: 8px;
    transform: scale(1.5);
    margin-left: 16px;
    cursor: pointer;
    accent-color: #000;
}

.filter__label2 {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 9px 16px;
    width: 151px;
    height: 42px;
    background: var(--c1-h);
    margin-right: 16px;
}

.filter__input3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
    margin-right: 8px;
    transform: scale(1.5);
    cursor: pointer;
    accent-color: #008000;
}

.filter__nbm {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
    border: 1px solid var(--c1-e);
    border-radius: 12px;
    padding: 0px 8px;
    width: 46px;
    height: 18px;
}

.filter__label4 {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 9px 16px;
    width: 235px;
    height: 42px;
    background: var(--c1-h);
    padding-right: 30px;
    margin-right: 16px;
    position: relative;
}

.filter__12 {
    border: 1px solid var(--c1-e);
    border-radius: 12px;
    padding: 0px 8px;
    width: 28px;
    height: 18px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.filter__line {
    border: 1px solid var(--c1-d);
    width: 20px;
    height: 0px;
    transform: rotate(-90deg);
    margin-left: 24px;
    margin-right: 24px;
}

.filter__select{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);

    &::after{
        content: "";
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-image: url(/img/filter_select.svg);
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
}

.filter__filtres_block{
    display: flex;
    margin-top: 28px;
    align-items: center;
    gap: 12px;
}

.filter__filtres{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-c);
}

.filter__filtres_block2{
    border-radius: 12px;
    padding: 2px 8px;
    width: 118px;
    height: 18px;
    background: var(--c2-e);
    position: relative;
}

.filter__filtres2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);

    &::after{
        content: "";
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-image: url(/img/filter_filtres.svg);
        display: inline-block;
        position: absolute;
        top: 4px;
        right: 10px;
    }
}