.hero {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero__form {
    display: flex;
    align-items: center;
}

.hero__line {
    border: 1px solid var(--c1-d);
    width: 20px;
    height: 0px;
    transform: rotate(-90deg);
    margin-left: 48px;
    margin-right: 24px;
}

.hero__search {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 500px;
    height: 42px;
    padding: 10px 16px;
    background: var(--c1-h);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-c);
    position: relative;
}

.hero__search_text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-a);

    &::after {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/hero_icon1.svg);
        display: inline-block;
        position: absolute;
        left: 130px;
    }

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/search_icon.svg);
        display: inline-block;
        position: absolute;
        right: 16px;
        top: 12px;
    }
}

.hero__icons::after {
    content: "";
    width: 88px;
    height: 31px;
    background-repeat: no-repeat;
    background-image: url(/img/hero_icons.svg);
    display: inline-block;
    cursor: pointer;
}