.product {
    padding-top: 64px;
    padding-bottom: 64px;
}

.product__block {
    display: flex;
    justify-content: space-between;
}

.product__left {
    width: 269px;
}

.product__right {
    width: 870px;
}

.product__card {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 869px;
    background: var(--c1-j);
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.product__img {
    width: 268px;
    height: 280px;
}

.product__item1 {
    width: 269px;
    margin-left: 32px;
    margin-right: 96px;
}

.product__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
}

.product__subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-b);
    margin-top: 4px;
    margin-bottom: 8px;
}

.product__star {
    width: 108px;
    height: 20px;
    margin-bottom: 25px;
}

.product__item1_1 {
    width: 237px;
    display: flex;
    justify-content: space-between;
}

.product__info {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-c);
    margin-bottom: 12px;
}

.product__info1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c2-a);
    margin-bottom: 12px;
}

.product__item2 {
    width: 172px;
}

.product__price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
}

.product__price2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    text-decoration: line-through;
    color: var(--c1-c);
}

.product__free {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-c);
    margin-top: 16px;
}

.product__delivery {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
    margin-bottom: 26px;
}

.product__delail_block {
    position: relative;
}

.product__delail {
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 12px 38px 12px 16px;
    background: var(--c2-a);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-j);
    margin-bottom: 12px;

    &::after {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/product_D.svg);
        display: inline-block;
        position: absolute;
        right: 16px;
    }
}

.product__add_block {
    position: relative;
}

.product__add {
    border-radius: 12px;
    padding: 12px 12px 12px 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-a);
    background: var(--c1-f);

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/heart.svg);
        display: inline-block;
        position: absolute;
        left: 12px;
    }
}

.product__left_item1 {
    width: 268px;
    margin-bottom: 48px;
}

.product__left_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 16px;
}

.product__left_cblock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.product__cname {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
}

.product__cnum {
    border-radius: 12px;
    padding: 0px 8px;
    width: 38px;
    height: 18px;
    background: var(--c2-e);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
}

.product__left_label {
    display: block;
}

.product__left_input {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
    margin-right: 8px;
    transform: scale(1.5);
    cursor: pointer;
    accent-color: #008000;
    margin-bottom: 12px;
}

.price_line {
    cursor: pointer;
    margin-bottom: 16px;
}

.product__price_form {
    display: flex;
    width: 251px;
    margin-bottom: 31px;
}

.product__price_label1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-c);
    margin-left: 6px;
}


.product__price_level {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.product__price_input {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 109px;
    padding: 12px 21px;

}

.product__apply {
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 12px 16px;
    width: 78px;
    height: 48px;
    background: var(--c2-a);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-j);
    margin-right: 34px;
}

.product__reset {
    border-radius: 12px;
    padding: 6px 12px;
    width: 67px;
    height: 35px;
    background: var(--c1-j);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-c);
}

.product__show_block {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.product__pages {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.pns {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.pnsp {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c2-a);
}

.product__show {
    position: relative;
}


.product__show_btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-j);
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 12px 38px 12px 16px;
    background: var(--c2-a);

    &::after {
        content: "";
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/show.svg);
        display: inline-block;
        position: absolute;
        right: 16px;
    }
}

.product__count_block {
    display: flex;
    align-items: center;
}


.product__count {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
    border-radius: 12px;
    padding: 2px 8px;
    width: 39px;
    height: 18px;
    background: var(--c2-e);
}

.product__count_s {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
    margin-left: 12px;
}